<div class="col-md-8 blog-main">
  <h2><%= @blog.title %></h2> 
  <% if logged_in?(:site_admin) %>
    <%= link_to 'Edit Blog', edit_blog_path(@blog), class: 'btn btn-info' %>
  <% end %>
  <hr>
  <p>
    <%= @blog.body %>
  </p>

  <%= render 'comments/comment_form' %>

  <%= render @blog.comments %>
</div>
