<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio_item.main_image.url, height: '350', width: '620', rotate: '90' if @portfolio_item.main_image.present? %>
    </div>
    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>
      
      <hr>

      <em><%= @portfolio_item.subtitle %></em>
      <p><%= @portfolio_item.body %></p>

      <hr>

      <h3>Technologies Used:</h3>
      <% @portfolio_item.technologies.each do |technology| %>
        <p><%= technology.name %></p>
      <% end %>

      <% if logged_in?(:site_admin) %>
        <div class="col-md-12">
          <%= link_to "Edit Item", edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' %>
        </div>
      <% end %>
    </div>
  </div>
</div>