<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @portfolio_item.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @portfolio_item.subtitle %>
</p>
<p>
  <strong>Body:</strong>
  <%= @portfolio_item.body %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio_item) %> |
<%= link_to 'Back', portfolios_path %>
