<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap" rel="stylesheet">

    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/portfolio_nav' %>
    <%= render 'shared/portfolio_main' unless logged_in?(:site_admin) %>

    <%= yield %>

    <%= alerts %>
    
    <%= render 'shared/portfolio_footer' %>
  </body>
</html>
